<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
    <script src="../../assets/js/vue.js"></script>
</head>

<body>
    <h1>v-for</h1>
    <hr>
    <div id="app">
        <ul>
            <li v-for="(item,index) in itemssort" :key="index">{{item}}-{{index}}</li>
        </ul>
        <ul>
            <li v-for="(item,index) in studentssort" :key="index">
                {{item.age}}-{{item.name}}
            </li>
        </ul>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            items: [53, 54, 36, 12, 28, 7],
            students: [{
                    name: 'jspang',
                    age: 32
                },
                {
                    name: 'Panda',
                    age: 30
                },
                {
                    name: 'PanPaN',
                    age: 21
                },
                {
                    name: 'King',
                    age: 8
                }
            ]
        },
        computed: {
            itemssort: function () {
                return this.items.sort(changesort)
            },
            studentssort: function () {
                return sortByKey(this.students, 'age');
            }
        }
    })

    function changesort(a, b) {
        return a - b
    }

    function sortByKey(array, key) {
        return array.sort(function (a, b) {
            var x = a[key];
            var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        });
    }
</script>

</html>